In [93]:
import pandas as pd
import numpy as np

In [94]:
dfIndex= pd.read_csv("LFS_PUMF_EPA_FGMD_variables.csv",encoding = "ISO-8859-1")

In [95]:
dfPub= pd.read_csv("pub0222.csv",encoding = "ISO-8859-1")

In [96]:
dfPub.columns = dfPub.columns.str.lower()
dfPub.head()

,rec_num,survyear,survmnth,lfsstat,prov,cma,age_12,age_6,sex,marstat,...,lkatads,lkansads,lkothern,prioract,ynolook,tlolook,schooln,efamtype,agyownk,finalwt
0,1,2022,2,4,35,4,1,1.0,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,18,NaN,1168
1,2,2022,2,4,10,0,2,4.0,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1,NaN,76
2,3,2022,2,4,35,0,7,NaN,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6,2.0,422
3,4,2022,2,4,24,2,12,NaN,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,290
4,5,2022,2,4,47,0,10,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8,NaN,81

In [97]:
final_dfPub = dfPub[["lfsstat", "prov", "cma", "age_6", "sex", "educ", "cowmain", "immig", "naics_21", "uhrsmain", "schooln"]]
final_dfPub

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln
0,4,35,4,1.0,2,1,2.0,3,10.0,NaN,2.0
1,4,10,0,4.0,2,3,2.0,3,17.0,NaN,2.0
2,4,35,0,NaN,2,5,NaN,2,NaN,NaN,1.0
3,4,24,2,NaN,1,1,2.0,3,19.0,NaN,NaN
4,4,47,0,NaN,1,4,2.0,3,10.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,1,4,3.0,3,1.0,650.0,1.0
103654,1,35,5,NaN,1,5,1.0,3,21.0,400.0,1.0
103655,1,24,0,NaN,2,5,1.0,3,16.0,250.0,1.0
103656,1,59,9,NaN,2,6,2.0,2,17.0,400.0,1.0
103657,1,13,0,NaN,1,1,5.0,3,1.0,600.0,1.0

In [98]:
province_mapping = {
    10: "Newfoundland and Labrador",
    11: "Prince Edward Island",
    12: "Nova Scotia",
    13: "New Brunswick",
    24: "Quebec",
    35: "Ontario",
    46: "Manitoba",
    47: "Saskatchewan",
    48: "Alberta",
    59: "British Columbia"
}

final_dfPub['prov_name'] = our_df.prov.map(province_mapping)
final_dfPub

/tmp/ipykernel_2280/832655316.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dfPub['prov_name'] = our_df.prov.map(province_mapping)

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name
0,4,35,4,1.0,2,1,2.0,3,10.0,NaN,2.0,Ontario
1,4,10,0,4.0,2,3,2.0,3,17.0,NaN,2.0,Newfoundland and Labrador
2,4,35,0,NaN,2,5,NaN,2,NaN,NaN,1.0,Ontario
3,4,24,2,NaN,1,1,2.0,3,19.0,NaN,NaN,Quebec
4,4,47,0,NaN,1,4,2.0,3,10.0,NaN,1.0,Saskatchewan
...,...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,1,4,3.0,3,1.0,650.0,1.0,Alberta
103654,1,35,5,NaN,1,5,1.0,3,21.0,400.0,1.0,Ontario
103655,1,24,0,NaN,2,5,1.0,3,16.0,250.0,1.0,Quebec
103656,1,59,9,NaN,2,6,2.0,2,17.0,400.0,1.0,British Columbia
103657,1,13,0,NaN,1,1,5.0,3,1.0,600.0,1.0,New Brunswick

In [99]:
cma_code_name_mapping = {
    1: "QuÃ©bec",
    2: "MontrÃ©al",
    3: "Ottawa/Gatineau",
    4: "Toronto",
    5: "Hamilton",
    6: "Winnipeg",
    7: "Calgary",
    8: "Edmonton",
    9: "Vancouver",
    0: "Other CMA or non-CMA"
}
final_dfPub['cma_name'] = final_dfPub['cma'].map(cma_code_name_mapping)
final_dfPub

/tmp/ipykernel_2280/438559073.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dfPub['cma_name'] = final_dfPub['cma'].map(cma_code_name_mapping)

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name
0,4,35,4,1.0,2,1,2.0,3,10.0,NaN,2.0,Ontario,Toronto
1,4,10,0,4.0,2,3,2.0,3,17.0,NaN,2.0,Newfoundland and Labrador,Other CMA or non-CMA
2,4,35,0,NaN,2,5,NaN,2,NaN,NaN,1.0,Ontario,Other CMA or non-CMA
3,4,24,2,NaN,1,1,2.0,3,19.0,NaN,NaN,Quebec,MontrÃ©al
4,4,47,0,NaN,1,4,2.0,3,10.0,NaN,1.0,Saskatchewan,Other CMA or non-CMA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,1,4,3.0,3,1.0,650.0,1.0,Alberta,Other CMA or non-CMA
103654,1,35,5,NaN,1,5,1.0,3,21.0,400.0,1.0,Ontario,Hamilton
103655,1,24,0,NaN,2,5,1.0,3,16.0,250.0,1.0,Quebec,Other CMA or non-CMA
103656,1,59,9,NaN,2,6,2.0,2,17.0,400.0,1.0,British Columbia,Vancouver
103657,1,13,0,NaN,1,1,5.0,3,1.0,600.0,1.0,New Brunswick,Other CMA or non-CMA

In [100]:
sex_mapping = {
    1: "M",
    2: "F"
}
final_dfPub['sex'] = final_dfPub['sex'].map(sex_mapping)
final_dfPub

/tmp/ipykernel_2280/442907909.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dfPub['sex'] = final_dfPub['sex'].map(sex_mapping)

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name
0,4,35,4,1.0,F,1,2.0,3,10.0,NaN,2.0,Ontario,Toronto
1,4,10,0,4.0,F,3,2.0,3,17.0,NaN,2.0,Newfoundland and Labrador,Other CMA or non-CMA
2,4,35,0,NaN,F,5,NaN,2,NaN,NaN,1.0,Ontario,Other CMA or non-CMA
3,4,24,2,NaN,M,1,2.0,3,19.0,NaN,NaN,Quebec,MontrÃ©al
4,4,47,0,NaN,M,4,2.0,3,10.0,NaN,1.0,Saskatchewan,Other CMA or non-CMA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,M,4,3.0,3,1.0,650.0,1.0,Alberta,Other CMA or non-CMA
103654,1,35,5,NaN,M,5,1.0,3,21.0,400.0,1.0,Ontario,Hamilton
103655,1,24,0,NaN,F,5,1.0,3,16.0,250.0,1.0,Quebec,Other CMA or non-CMA
103656,1,59,9,NaN,F,6,2.0,2,17.0,400.0,1.0,British Columbia,Vancouver
103657,1,13,0,NaN,M,1,5.0,3,1.0,600.0,1.0,New Brunswick,Other CMA or non-CMA

In [101]:
cowmain_code_name_mapping = {
    1: "Public sector employees",
    2: "Private sector employees",
    3: "Self-employed incorporated with paid help",
    4: "Self-employed incorporated no paid help",
    5: "Self-employed unincorporated with paid help",
    6: "Self-employed unincorporated no paid help",
    7: "Unpaid family worker",
    np.NaN: "Not applicable"
}
final_dfPub['cowmain_name'] = final_dfPub.cowmain.map(cowmain_code_name_mapping)
final_dfPub

/tmp/ipykernel_2280/2668344178.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dfPub['cowmain_name'] = final_dfPub.cowmain.map(cowmain_code_name_mapping)

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name,cowmain_name
0,4,35,4,1.0,F,1,2.0,3,10.0,NaN,2.0,Ontario,Toronto,Private sector employees
1,4,10,0,4.0,F,3,2.0,3,17.0,NaN,2.0,Newfoundland and Labrador,Other CMA or non-CMA,Private sector employees
2,4,35,0,NaN,F,5,NaN,2,NaN,NaN,1.0,Ontario,Other CMA or non-CMA,Not applicable
3,4,24,2,NaN,M,1,2.0,3,19.0,NaN,NaN,Quebec,MontrÃ©al,Private sector employees
4,4,47,0,NaN,M,4,2.0,3,10.0,NaN,1.0,Saskatchewan,Other CMA or non-CMA,Private sector employees
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,M,4,3.0,3,1.0,650.0,1.0,Alberta,Other CMA or non-CMA,Self-employed incorporated with paid help
103654,1,35,5,NaN,M,5,1.0,3,21.0,400.0,1.0,Ontario,Hamilton,Public sector employees
103655,1,24,0,NaN,F,5,1.0,3,16.0,250.0,1.0,Quebec,Other CMA or non-CMA,Public sector employees
103656,1,59,9,NaN,F,6,2.0,2,17.0,400.0,1.0,British Columbia,Vancouver,Private sector employees
103657,1,13,0,NaN,M,1,5.0,3,1.0,600.0,1.0,New Brunswick,Other CMA or non-CMA,Self-employed unincorporated with paid help

In [102]:
immig_stat = {
    1: "True",
    2: "True",
    3: "False"
}
final_dfPub['immig'] = final_dfPub['immig'].map(immig_stat)
final_dfPub

/tmp/ipykernel_2280/266206974.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dfPub['immig'] = final_dfPub['immig'].map(immig_stat)

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name,cowmain_name
0,4,35,4,1.0,F,1,2.0,False,10.0,NaN,2.0,Ontario,Toronto,Private sector employees
1,4,10,0,4.0,F,3,2.0,False,17.0,NaN,2.0,Newfoundland and Labrador,Other CMA or non-CMA,Private sector employees
2,4,35,0,NaN,F,5,NaN,True,NaN,NaN,1.0,Ontario,Other CMA or non-CMA,Not applicable
3,4,24,2,NaN,M,1,2.0,False,19.0,NaN,NaN,Quebec,MontrÃ©al,Private sector employees
4,4,47,0,NaN,M,4,2.0,False,10.0,NaN,1.0,Saskatchewan,Other CMA or non-CMA,Private sector employees
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,M,4,3.0,False,1.0,650.0,1.0,Alberta,Other CMA or non-CMA,Self-employed incorporated with paid help
103654,1,35,5,NaN,M,5,1.0,False,21.0,400.0,1.0,Ontario,Hamilton,Public sector employees
103655,1,24,0,NaN,F,5,1.0,False,16.0,250.0,1.0,Quebec,Other CMA or non-CMA,Public sector employees
103656,1,59,9,NaN,F,6,2.0,True,17.0,400.0,1.0,British Columbia,Vancouver,Private sector employees
103657,1,13,0,NaN,M,1,5.0,False,1.0,600.0,1.0,New Brunswick,Other CMA or non-CMA,Self-employed unincorporated with paid help

In [103]:
naics_21_code_name_mapping = {
    1: "Agriculture",
    2: "Forestry and logging and support activities for forestry",
    3: "Fishing, hunting and trapping",
    4: "Mining, quarrying, and oil and gas extraction",
    5: "Utilities",
    6: "Construction",
    7: "Manufacturing - durable goods",
    8: "Manufacturing - non-durable goods",
    9: "Wholesale trade",
    10: "Retail trade",
    11: "Transportation and warehousing",
    12: "Finance and insurance",
    13: "Real estate and rental and leasing",
    14: "Professional, scientific and technical services",
    15: "Business, building and other support services",
    16: "Educational services",
    17: "Health care and social assistance",
    18: "Information, culture and recreation",
    19: "Accommodation and food services",
    20: "Other services (except public administration)",
    21: "Public administration",
    np.NaN: "Not applicable"
}
final_dfPub['naics_21'] = final_dfPub['naics_21'].map(naics_21_code_name_mapping)
final_dfPub

/tmp/ipykernel_2280/3718498476.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dfPub['naics_21'] = final_dfPub['naics_21'].map(naics_21_code_name_mapping)

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name,cowmain_name
0,4,35,4,1.0,F,1,2.0,False,Retail trade,NaN,2.0,Ontario,Toronto,Private sector employees
1,4,10,0,4.0,F,3,2.0,False,Health care and social assistance,NaN,2.0,Newfoundland and Labrador,Other CMA or non-CMA,Private sector employees
2,4,35,0,NaN,F,5,NaN,True,Not applicable,NaN,1.0,Ontario,Other CMA or non-CMA,Not applicable
3,4,24,2,NaN,M,1,2.0,False,Accommodation and food services,NaN,NaN,Quebec,MontrÃ©al,Private sector employees
4,4,47,0,NaN,M,4,2.0,False,Retail trade,NaN,1.0,Saskatchewan,Other CMA or non-CMA,Private sector employees
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,M,4,3.0,False,Agriculture,650.0,1.0,Alberta,Other CMA or non-CMA,Self-employed incorporated with paid help
103654,1,35,5,NaN,M,5,1.0,False,Public administration,400.0,1.0,Ontario,Hamilton,Public sector employees
103655,1,24,0,NaN,F,5,1.0,False,Educational services,250.0,1.0,Quebec,Other CMA or non-CMA,Public sector employees
103656,1,59,9,NaN,F,6,2.0,True,Health care and social assistance,400.0,1.0,British Columbia,Vancouver,Private sector employees
103657,1,13,0,NaN,M,1,5.0,False,Agriculture,600.0,1.0,New Brunswick,Other CMA or non-CMA,Self-employed unincorporated with paid help

In [104]:
schooln_code_name_mapping = {
    1: "Non-student",
    2: "Full-time student",
    3: "Part-time student",
    np.NaN: "Not applicable"
}

def is_student(x):
    if x == 2 or x == 3:
        return True
        return False

final_dfPub['is_student'] = final_dfPub['schooln'].map(lambda x: is_Student(x))

/tmp/ipykernel_2280/2981602815.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_dfPub['is_student'] = final_dfPub['schooln'].map(lambda x: is_Student(x))

# Final table after the cleanup

In [105]:
final_dfPub

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name,cowmain_name,is_student
0,4,35,4,1.0,F,1,2.0,False,Retail trade,NaN,2.0,Ontario,Toronto,Private sector employees,True
1,4,10,0,4.0,F,3,2.0,False,Health care and social assistance,NaN,2.0,Newfoundland and Labrador,Other CMA or non-CMA,Private sector employees,True
2,4,35,0,NaN,F,5,NaN,True,Not applicable,NaN,1.0,Ontario,Other CMA or non-CMA,Not applicable,False
3,4,24,2,NaN,M,1,2.0,False,Accommodation and food services,NaN,NaN,Quebec,MontrÃ©al,Private sector employees,False
4,4,47,0,NaN,M,4,2.0,False,Retail trade,NaN,1.0,Saskatchewan,Other CMA or non-CMA,Private sector employees,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,M,4,3.0,False,Agriculture,650.0,1.0,Alberta,Other CMA or non-CMA,Self-employed incorporated with paid help,False
103654,1,35,5,NaN,M,5,1.0,False,Public administration,400.0,1.0,Ontario,Hamilton,Public sector employees,False
103655,1,24,0,NaN,F,5,1.0,False,Educational services,250.0,1.0,Quebec,Other CMA or non-CMA,Public sector employees,False
103656,1,59,9,NaN,F,6,2.0,True,Health care and social assistance,400.0,1.0,British Columbia,Vancouver,Private sector employees,False
103657,1,13,0,NaN,M,1,5.0,False,Agriculture,600.0,1.0,New Brunswick,Other CMA or non-CMA,Self-employed unincorporated with paid help,False

# Import to mysql database

In [107]:
import mysql.connector
import sqlalchemy as db

config_file = "cebd-1160-projectstarter-winter-2022/.my.cnf"
connection = mysql.connector.connect(option_files=config_file)
cursor = connection.cursor()
#cursor.execute('CREATE DATABASE StatsCan')

# Load data in Mysql databse using sqlAlchemy
url = db.engine.URL(drivername='mysql', host='127.0.0.1',
                    database='StatsCan',
                    username='cebd1160_user', password='cebd1160')
engine = db.create_engine(url)

our_df.to_sql("WorkStatus", engine, schema="StatsCan")

ModuleNotFoundError: No module named 'mysql'